/**
 * CSS File for Global Styles
 *
 * @package frontend/styles
 * @author Luis Andres <ion.podolean22@gmail.com>
 * @copyright 2021-01-16
 * */

body {
    font-family: 'system-ui' !important;
}

.m-auto {
    margin: auto;
}
.m-l-auto {
    margin-left: auto;
}

a {
    color: black !important;
    cursor: pointer !important;
}
a:hover {
    text-decoration: none !important;
}

ul {
    padding: 10px;
}

p, ul, a {
    color: #333 !important;
}

.ul-no-style {
    list-style-type: none;
}

.dis-flex {
    display: flex;
}

.dis-none {
    display: none;
}

.cur-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.f-14 {
    font-size: 14px;
}

.button {
    width: 100% !important;
    border: none !important;
    height: 40px !important;
    border-radius: 0 !important;
    background-color: black !important;
    color: white !important;
    cursor: pointer !important;
}

.pad-0 {
    padding: 0px !important;
}

.pad-5 {
    padding: 5px;
}

.input {
    width: 100%;
    padding: 5px;
    height: 40px;
}

.input :hover, :focus {
    outline: none;
    border-color: #ced4da !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}